@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1570546665437'); /* IE9 */
  src: url('iconfont.eot?t=1570546665437#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKwAAsAAAAABlQAAAJjAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApcdQE2AiQDCAsGAAQgBYRtBzMbngXIrrApw71IkTQyQtQxd+YGQJ7vOcRD/X7sz963qCbVSPdmljTh0wmVBLHYdEIhFL7l35DLtdwncFV1O/5ZFlk9ysNNLn84uVxJsXEVvsbUEarWo7DNXp4FmMgJB2Yxtiu/B2J7fRXArk/cO22ed4HMB5TTHIs/dQHGWwPdA9tkRRJ5w9gFL/A8gUYDalKrazt9KEr2tEDcCm5AsRCSkmXrhdqGtSke1agv9+UNwEP0/fgHnShS1FTsuu3zVRsWPiadvOroR0cBSZiANtegwhyQxH5jalNGMGZG4/asESCl4IOfH2wRRzUK9tfZlc2gD4qeSexJHrWygISDPcDUpEeR0Zx5UX19Hby/j97ehi8vvj3L7eHM4P+wrM+Xzxk4UGWM8ynfmr3edbfn2J+ebtzfgQWAn9VrZikEZ2sXtLaZ/8USvO/qKwr8TMM8oH537uC3iAc2pCG1teX4IuQuenIBBSjgXj9sX6fPqbqee8iFej134qnTn6FSb4yc9DnUaDKPWvUW0GjW+uYmXaSMyAbMOAcI7S5RtHpBpd0tOekfqNHrD7XaI4NGhzGxZ5OJEOVlSYYiG80DFFYYMNeqynF1l3jiGTIvjVhDkrGIYrvRKmfXKSC5xIJ4l3eUYshk6OMauIw8L8RIhmOyVMNRKppqNlnTmxpW6EPZCokYFGJDpgNIsIQCLGitlCuf7yJcwmOQHYQ6/xCRYmJ41NbQGkBeVwWDCI9yTWwX16EoDGKkkA+tgVHE4wmhqHnUGLEoDc6ERGRK02nGhqoa22v8v9sGjWx9CWdJpeEuMYJDJww4AAAAAA==') format('woff2'),
  url('iconfont.woff?t=1570546665437') format('woff'),
  url('iconfont.ttf?t=1570546665437') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1570546665437#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xuanzhong:before {
  content: "\e619";
}

